.calculator{
	border:0px solid #6b0404;
	width: 280px;
	box-sizing: border-box;
	margin: 40px auto 0;
	font-family: verdana;
	box-shadow: 10px 10px #888888;
	border-radius: 4px;
}
.calculator .form-control{
	height: 60px;
    width: 98.5%
}
.calculator .form-group{
	margin-bottom: 0;
}
.calculator input[type=text]{
	font-size: 1.9rem;
	color:#434343;
	background-color: #044e6b42;
	border-radius: 4px;
}
.calculator .btn {
	font-size: 1.5rem;
	color: #751b1b;
	width: 80px;
	height: 40px;
	border: 0px;
	border-radius: 4px;
}
.calculator .btn-op {
	background-color: #751b1b;
	color: aliceblue;
}

media screen and (max-width: 480px) {
	.calculator{
		background-color: aqua;
		width: 80px;
	}
  }
